div[id^='fra-'] .note-phrase::before {
  content: '«';
}
div[id^='fra-'] .note-phrase::after {
  content: '»';
}
div[id^='eng-'] .note-phrase::before {
  content: '“';
}
div[id^='eng-'] .note-phrase::after {
  content: '”';
}
