div[id^='fra-'] .note-phrase-text::before {
  content: '« ';
}
div[id^='fra-'] .note-phrase-text::after {
  content: ' »';
}
div[id^='deu-'] .note-phrase-text::before {
  content: '“';
}
div[id^='deu-'] .note-phrase-text::after {
  content: '„';
}
div[id^='eng-'] .note-phrase-text::before {
  content: '“';
}
div[id^='eng-'] .note-phrase-text::after {
  content: '”';
}
