.note-settings-menu {
  min-width: 14rem !important;
}
app-verse-notes,
verse-notes,
#focusedNotes,
.verse-notes {
  display: block;
  background-color: #f7f8f8;

  // position: absolute;
  // width: 300px;
  right: 0;
  top: 0px;
  overflow-y: scroll;
  // height: 100vh;
  font-family: serif;
  verse-note,
  .verse-note {
    > * {
      margin-top: 0;
      margin-bottom: 0;
    }
    display: block;
    list-style: none;
    margin-left: 20px;
    line-height: 22.5px;
    font-size: 0.83em;
    note-phrase,
    .note-phrase {
      user-select: none;
      display: block;
      margin-bottom: 3px;
      width: 90%;
    }
    .short-title,
    short-title {
      display: inline-block;
      margin-right: 10px;
      font-weight: 700;
    }

    .note-reference,
    note-ref {
      display: block;
      margin-top: 5px;
      margin-bottom: 0;
      a {
        color: #0000e0 !important;
        text-decoration: none;
        &:hover {
          color: #274472 !important;
        }
      }
    }
    note,
    .note {
      margin-left: 20px;
      display: block;
      margin-right: 10px;
      margin-bottom: 6px;
    }

    verse-note-group,
    .verse-note-group {
      &.sup-a::before {
        content: 'a';
      }
      display: block;
      position: relative;
      &.highlight {
        padding-left: 5px;
        border-left: 2.5px solid #f68d2e;
      }
    }
  }
}
.none {
  display: none !important;
}

.jst-mode {
}
.jst-comparison {
  insertion {
    font-weight: 700;
  }
  deletion {
    font-style: italic;
  }

  insertion,
  deletion {
    display: initial !important;
  }
}
insertion,
deletion {
  display: none;
}
body {
  &.speaker {
    .speaker {
      display: initial !important;
    }
    .ftag-speaker::before {
      content: '🔊';
    }
  }

  .speaker {
    // display: none !important;
  }
}
.edit-mode {
  .edit-mode-offsets {
    display: block;
  }
  .btn-update-phrase {
    display: block;
    position: relative;
    bottom: 78px;
    width: 100%;
    a {
      width: 100%;
    }
  }
  .btn-update-superscripts {
    display: block;
    position: relative;
    bottom: 110px;
    width: 100%;
    a {
      width: 100%;
    }
  }
  .show-edit-mode {
    display: initial !important;
  }

  .edit-button {
    display: initial;
    position: absolute;
    right: 8px;
    top: 25px;
  }
}
.edit-mode-offsets {
  display: none;
}

.edit-button {
  display: none;
}
.btn-update-phrase {
  display: none;
}
.show-edit-mode {
  display: none !important;
}

.chapternotes ~ .chapternotes {
  .short-title {
    display: none;
  }
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
@media (hover: none) {
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
@media (hover: hover) {
  * {
    &:hover {
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
  }
}

* {
  scrollbar-width: thin;
}

.note-whitespace {
  height: 10px;
}

.verse-note-group.soglo {
  display: grid !important;
  position: relative;

  grid-template-columns: 30px 1fr;
}
.soglo-media {
  video,
  img {
    width: 90%;
  }
  .ref-label {
    display: none;
  }
}
.verse-note.soglo {
  .short-title {
    display: none !important;
  }
}
.soglo,
#focusedNotes {
  .scripture-ref.strong {
    font-weight: 700;
  }
  .note {
    display: inline !important;
    margin: 0px !important;
    .note-reference.gs ~ .note-reference {
      div {
        strong {
          strong {
            display: block;
            text-align: center;
          }
        }
      }
    }
    .note-reference {
      div {
        margin-bottom: 6pt;
        width: 90%;
        display: inline-block;
      }
      // display: inline !important;
      // margin-top: 0px !important;
      display: inline !important;
      margin-top: 0;
      margin-bottom: 0;
      .ref-label {
        display: none;
        font-weight: initial !important;
      }
      &.TG {
      }
      &.CR,
      &.CR,
      &.QUO,
      &.OR,
      &.TRN,
      &.GS,
      &.JST {
        .ref-label {
          display: none !important;
        }
      }
      &.GS {
        color: black !important;
        text-decoration: none;
      }
      .label-soglo {
        font-size: small;

        color: black !important;
        text-decoration: none;
      }

      a,
      &.TG {
        color: #177c9c !important;
        text-decoration: none;
        &:hover {
          color: #274472 !important;
        }
      }
    }
  }
}

[class*='-none'] {
  .ref-label {
    display: none !important;
  }
}
